<html ng-app="mta" lang="en" class="csstransforms csstransforms3d csstransitions js cssanimations csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js" type="text/javascript"></script>
		<script src="https://code.angularjs.org/1.4.0-beta.1/angular-sanitize.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/controllers.js"></script>
</head>

<body ng-controller="mtaCtrl">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <a class="navbar-brand" href="#">MTA Status</a>
	      </div>

	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" ng-model="search.name" placeholder="Search">
	        </div>

			<select class="form-control" ng-model='search.type'>
			  <option value=''>All</option>	
			  <option value='subway'>Subway</option>
			  <option value='bus'>Bus</option>
			  <option value='lirr'>LIRR</option>
			  <option value='bt'>Bridge and Tunnel</option>
			  <option value='mt'>Metro North</option>
			</select>

			<select class="form-control" ng-model='search.status'>
			  <option value=''>All</option>	
			  <option value='DELAY'>Delay</option>
			  <option value='SERVICE CHANGE'>Service Change</option>
			  <option value='PLANNED WORK'>Planned Work</option>
			  <option value='GOOD SERVICE'>Good Service</option>
			</select>	

		    <div class="checkbox">
		      <label>
		        <input ng-model="showFavorites" type="checkbox"> Favorites
		      </label>
		    </div>					


	      </form>
	      <p class="navbar-text">Updated: {{timestamp}}</p>
	      <button type="button" class="btn btn-primary btn-lg" ng-class="{'hide': user}" data-toggle="modal" data-target="#signInModal">
  			Sign In
		 </button>
	  </div><!-- /.container-fluid -->
	</nav>	


	<!-- Modal -->
	<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="signInLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
		    <form ng-submit="login()">
			  <div class="form-group">
			    <label for="username">User Name</label>
			    <input type="string" class="form-control" id="username" ng-model="username" placeholder="Enter User Name">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
	      </div>
	    </div>
	  </div>
	</div>	

	<div class="col-md-6">

	    <table class="table">
	      <thead>
	        <tr>
	          <th>Name</th>
	          <th>Status</th>
	          <th>Details</th>
	          <th>Updated</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="line in lines | filter:search | filter:favoritesFilter ">
	          <td>{{line.name[0]}}</td>
	          <td><span class="label" ng-class="{'label-success': line.status[0] == 'GOOD SERVICE', 'label-warning': line.status[0] == 'PLANNED WORK' || line.status[0] == 'SERVICE CHANGE', 'label-danger': line.status[0] == 'DELAYS'}">{{line.status[0]}}</span></td>
	          <td><a ng-click="displayDetails(line)"><span ng-class="{'hide': !line.text[0]}" class="glyphicon glyphicon-info-sign"></span></a></td>
	          <td>{{line.Date[0]}} {{line.Time[0]}}</td>
	          <td><a ng-click='modifyFavorites(line)'><span ng-class="{'hide': !user, 'glyphicon-plus': !user.favorites[line.name[0]], 'glyphicon-minus': user.favorites[line.name[0]]}" class="glyphicon  pull-right" aria-hidden="true"></span></a></td>
	        </tr>
	      </tbody>
	    </table>

		<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="signInLabel">{{currentLine.name[0]}}  <span class="label" ng-class="{'label-success': currentLine.status[0] == 'GOOD SERVICE', 'label-warning': currentLine.status[0] == 'PLANNED WORK' || currentLine.status[0] == 'SERVICE CHANGE', 'label-danger': currentLine.status[0] == 'DELAYS'}">{{currentLine.status[0]}}</span></h4>
		      </div>
		      <div class="modal-body" ng-bind-html="currentLine.text[0]">
		      	{{currentLine.text[0]}}
		      </div>
		  </div>
		</div>	    


	</div>	    	
	    


</body>