<html ng-app="mta" lang="en" class="csstransforms csstransforms3d csstransitions js cssanimations csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js" type="text/javascript"></script>
		<script src="https://code.angularjs.org/1.4.0-beta.1/angular-sanitize.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/controllers.js"></script>
</head>

<body ng-controller="mtaCtrl">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <a class="navbar-brand" href="#">MTA Status</a>
	      </div>

	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" ng-model="search.name" placeholder="Search">
	        </div>

			<select class="form-control" ng-model='search.type'>
			  <option value=''>All</option>	
			  <option value='subway'>Subway</option>
			  <option value='bus'>Bus</option>
			  <option value='lirr'>LIRR</option>
			  <option value='bt'>Bridge and Tunnel</option>
			  <option value='mt'>Metro North</option>
			</select>	        
	      </form>
	      <p class="navbar-text">Updated: {{timestamp}}</p>
	      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  			Sign In
		 </button>
	  </div><!-- /.container-fluid -->
	</nav>	


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
		    <form action="/login" method="post">
		      <div>
		        <label>Username:</label>
		        <input type="text" name="username" />
		        <br/>
		      </div>
		      <div>
		        <label>Password:</label>
		        <input type="password" name="password" />
		      </div>
		      <div>
		        <input type="submit" value="Submit" />
		      </div>
		    </form>	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>	

	<div class="col-md-6">
		<div ng-repeat="line in lines | filter:search" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#line{{$index}}" aria-expanded="true" aria-controls="line{{$index}}">
		          {{line.name[0]}} 
		        </a>
		        <span class="label" ng-class="{'label-success': line.status[0] == 'GOOD SERVICE', 'label-warning': line.status[0] == 'PLANNED WORK' || line.status[0] == 'SERVICE CHANGE', 'label-danger': line.status[0] == 'DELAYS'}">{{line.status[0]}}</span>
		      </h4>
		    </div>
		    <div id="line{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		      	<h4 ng-class="{'hide': !line.text[0]}">Updated: {{line.Date[0]}} {{line.Time[0]}}</h4>
		        <p ng-bind-html="line.text[0]" ng-class="{'hide': !line.text[0]}">{{line.text[0]}}</p>
		        <h4 ng-class="{'hide': line.text[0]}">No Updates</h4>
		      </div>
		    </div>
		  </div>
		</div>	
	</div>	    	
	    


</body>